remote_theme: "mmistakes/so-simple-theme"
locale: en-US
title: Anthony Bisulco's Blog
email: arb426@cornell.edu
description:  "Anthony Bisulco's blog related to topics in 
  optimization, signal processing, programming and other technical 
  concepts."
baseurl: "" # the subpath of your site, e.g. /blog
url: "https://abisulco.com" # the base hostname & protocol for your site, e.g. http://example.com
logo: "/img/logo-2.png"

keep_files: ['img', 'js', 'vendors/']
exclude: ['README.md','scss/', 'vendor/', '.vscode/', 'node_modules/', 'gulpfile.js', 'yarn.lock', 'package-lock.json', 'package.json', 'Gemfile.json', 'Gemfile-lock.json']
# Build settings
markdown: kramdown
mathjax: true


date_format: "%B %-d, %Y"
read_time: true
words_per_minute: 200
google_fonts:
  - name: "Source Sans Pro"
    weights: "400,400i,700,700i"
  - name: "Lora"
    weights: "400,400i,700,700i"
google_analytics: "UA-72181801-1"
disqus:
  shortname: anthonybisulco
feed:
  path: atom.xml
search_full_content: false #
liquid:
  error_mode: strict


author: 
  name: Anthony Bisulco
  picture: "img/me.jpg"
  email: arb426@cornell.edu
  twitter: Anthony Bisulco  
  links:
    - title: Twitter
      url: https://twitter.com/AnthonyBisulco
      icon: fab fa-twitter-square
    - title: Github
      url: https://github.com/anthonytec2
      icon: fab fa-github-square
    - title: Devpost
      url: https://devpost.com/Anthonytec2
      icon: img/devpost.svg
      
footer_links:
  - title: Feed
    url: atom.xml
    icon: fas fa-rss-square

plugins:
  - jekyll-seo-tag
  - jekyll-sitemap
  - jekyll-feed
  - jekyll-paginate
paginate: 10  # amount of posts to show per page
paginate_path: /blog/page:num/
defaults:
  - scope:
      path: "_posts"
      type: posts
    values:
      layout: post
      share: true
