<meta charset="utf-8">

<title>{{ page.title }}</title>
<meta name="title" content="{{ page.title }}">
<meta name="description" content="{{ page.description }}">

<meta name="author" content="Anthony Bisulco">
<meta name="keywords" content="{{ page.keywords | join: ', ' | escape }}">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta property="og:title" content="{{ page.title }}" />
<meta property="og:description" content="{{ page.description }}" />
<meta property="og:image" content="{{ page.image }}" />

<meta name="twitter:title" content="{{ page.title }}">
<meta name="twitter:description" content="{{ page.description }}">
<meta name="twitter:image" content="{{ page.image }}">
<meta name="twitter:card" content="summary_large_image">

<link rel="icon" href="/img/logo200.png" type="image/png" >


<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
                <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
                <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
            <![endif]-->