
<!DOCTYPE html>
<html lang="en">

{% include head.html %}
{% include css_l.html %}
<link rel="stylesheet" href="css/animate.min.css" type="text/css">
<link rel="stylesheet" href="css/creative.css" type="text/css">

<body id="page-top">
  {% include nav.html %}
  {% include info.html %}
  
  {% include scripts.html %}
  {% include footer.html %}
</body>
<script src="js/processing.min.js"></script>
<script>
    $(document).ready(function() {

        $(window).resize(function() {
            var w = window.innerWidth;
            var h = window.innerHeight;
            if (w > 760) {
                document.getElementById('process').style.width = '640px';
                document.getElementById('process').style.height = '200px';


            } else {
                document.getElementById('process').style.width = '300px';
                document.getElementById('process').style.height = '100px';
            }
        });
    });
</script>
<script src="js/creative.js"></script>
</html>